.scheduler-container {
    width: 800px;
}

.calendar-details {
    width: 800px;
    display: inline-flex;
    // justify-content: center;
    margin-left: 100px;
    align-items: center;
}

.time-group{
    margin-left: 100px;
}

.start-div {
    float: left;
}

.end-div {
    float: left;
    clear: left
}