.scheduler-container {
    width: 800px;
    max-height: 500px;
    overflow: scroll;
}

.calendar-container{
    width: 800px;
}

.calendar-details {
    width: 800px;
    display: inline-flex;
    // margin-left: 100px;
    align-items: center;
    justify-content: center;
}

.time-group{
    margin-left: 100px;
}

.start-div {
    float: left;
}

.end-div {
    float: left;
    clear: left
}