.scheduler-container {
    width: 800px;
    max-height: 500px;
    overflow: scroll;
}

.calendar-container{
    width: 800px;
    // margin-left: 100px;
}

.calendar-details {
    // margin-top: 25px;
    width: 800px;
    display: inline-flex;
    // margin-left: 100px;
    align-items: center;
    justify-content: space-evenly;
}

.mat-input-element{
    font-weight: 500;
    color: darkblue;
}

// .schedule-button:not(.mat-button-disabled){
//     color: rgb(59, 59, 59);
//     background-color: #a4b2ff;
// }

// .button-group{
//     align-items: center;
// }

.mat-stroked-button{
    width: 96px
}

// .time-group{
//     margin-left: 100px;
// }

.first-div {
    float: left;
}

.second-div {
    float: left;
    clear: left
}

.date-nav-container{
    margin-top: 30px;
}