.calendar-container {
    border: 1px solid transparent;
    border-color: #fff #ddd;
    margin: 0 2em 2em
}

.app-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.cal-scheduler-view .cal-scheduler-headers{
    position: sticky;
    top: 0;
    z-index: 100000;
}